* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* header section code start  */
header {
    background-color: #1A0B2E;
}

#nav-bar {
    background-color: #1A0B2E;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-icon {
    display: none;
}

.nav-name h2 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}



#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    list-style: 120%;
    font-weight: 700;
}

.nav-btn button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.nav-btn button:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}

#hero {

    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 760px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

#circle {
    width: 20%;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 15%;
}

#micro {
    width: 8%;
    z-index: 2;
    top: 24%;
    left: 46%;
    position: absolute;
}

.hero-circle {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes my-animation {
    0% {
        background-color: #FB09B4;

    }

    25% {
        background-color: #F7E93F;

    }

    50% {
        background-color: #1A0B2E;
        color: #FFFFFF;


    }

    75% {
        background-color: beige;
        color: black;

    }

    100% {
        background-color: #00FF88;
        color: #F7E93F;



    }
}

#new-btn {
    z-index: 3;
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 25px;
    border-radius: 25px;
    border: none;
    top: 16%;
    left: 55%;
    animation: my-animation 2s infinite 0.5s ease-in alternate;

}

.hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30%;

}

.hero-contant h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;

}

.hero-contant p {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.btn-1 {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    background-color: #230E3D;
    cursor: pointer;
    font-weight: 700;
    transition: 1s;
}

.btn-1:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    color: #1A0B2E;

}

.btn-2 {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #00FF88;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px;
    border: 1px solid #00FF88;
    transition: 1s;
}

.btn-2:hover {
    background-color: #FFFFFF;
    color: #1A0B2E;
}

/* choose section code start  */
#choose {
    background-color: #230E3D;
    padding: 40px 0;
}

#choose h2 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    padding: 40px 0;
}

#choose-p {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.card-2 {
    grid-column: span 2;
    grid-row: span 1;
}

.card-3 {
    grid-row: span 1;
    grid-column: span 2;
}

#box {
    background-color: #351165;
    padding: 20px;
    border-radius: 20px;
}

#box * {
    margin-bottom: 15px;
}

#box h4 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}

#box p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
}

/* about section code hare  */
#about {
    background-color: #230E3D;
    padding-top: 50px;
    padding-bottom: 80px;
}

.about-heading h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 48PX;
    font-weight: bold;
    padding: 20PX 0;
}

.about-heading p {
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
}

/* episode section code start  */
#episode {
    background-color: #230E3D;
    padding: 30px 0;

}

.episode-card h2 {
    color: #00FF88;
    font-size: 48px;
}

.episode-card h2 i {
    color: #00FF88;
    font-size: 25px;
    padding-bottom: 20px;
}

.episode-card i {
    color: #00FF88;
    font-size: 25px;
}

.episode-card p {
    color: #FFFFFF;
    line-height: 20px;
    padding: 20px 0;
}

#episode-p {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-left: 50px;

}

/* feature episode section code start  */
#feature-episode {
    background-color: #1A0B2E;
    padding: 100px 0;
}

.feature-episode-heading h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}

.feature-episode-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.feature-episode-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-episode-card {
    width: 380px;
    height: 450px;
    border-radius: 20px;
    background-color: #351165;
}

.feature-contant {
    padding: 15px;
}

.feature-contant h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.feature-contant p {
    color: #FFFFFF;
    line-height: 24px;
}

.feature-contant * {
    margin-bottom: 15px;
}

/* Meet the Host section code start  */

#meet {
    background-color: #1A0B2E;
    padding: 20px 0;
    padding-bottom: 80px;
}

.meet-heading h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.meet-p {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.meet-contant h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32;


}

.meet-contant p {
    color: #FFFFFF;
    line-height: 24px;

}

.meet-contant * {
    margin-bottom: 15px;
}

.meet-icon i {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
    font-size: 20px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-left: 10px;
    padding-top: 10px;
    border: 1px solid white;
}


.meet-icon {
    gap: 20px;
}

#meet-host {
    background-color: #351165;
    border-radius: 20px;
    padding: 50px 0;
}

footer {
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    height: 26.23rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer section code start  */
#footer-contant {
    text-align: center;
    padding-top: 6.5%;

}

.footer-all-p {
    display: flex;
    justify-content: center;
    gap: 2.10rem;
}

#foter-copy {
    padding-top: 40px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 24px
}

.footer-box p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px
}

.footer-box img {
    width: 24px;
}

.footer-name h2 {
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 700;
    padding-bottom: 20px;
}

#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;


}




/* responsive-desing  */



@media screen and (max-width: 1200px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .hero-circle img {
        width: 30%;
        top: 10%;
        left: 35%;
    }

    #micro {
        width: 10%;
        top: 24%;
        height: 20%;
        left: 45%;

    }

    #new-btn {
        font-size: 15px;
        top: 12%;
        left: 56%;

    }

    .hero-contant {
        text-align: center;
        padding-bottom: 30px;


    }

    .hero-contant h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 12px;

    }

    .hero-contant p {
        color: #FFFFFF;
        margin-bottom: 15px;
        padding: 0 15PX;
        font-size: 13px;
    }

    .feature-episode-p {
        flex-wrap: wrap;
    }
         #hero {

        background-image: url(./assets/hero-bg.png);
        width: 100%;
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    #circle {
        width: 25%;
        position: absolute;
        z-index: 1;
        left: 38%;
        top: 12%;
    }

    #micro {
        width: 10%;
        z-index: 2;
        top: 25%;
        left: 45%;
        position: absolute;
    }
      .hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 35%;

}

}

@media screen and (max-width: 993px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .hero-circle img {
        width: 31%;
        top: 10%;
        left: 35%;
    }

    #choose-p {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #box {
        width: 100%;

    }

    #choose h2 {
        font-size: 45px;
        margin-bottom: 15px;
    }

    #choose {
        background-color: #230E3D;
        padding: 60px 0;
    }

    #episode-p {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        padding-left: 80px;

    }

    .episode-card h2 {
        font-size: 45px;
    }

    .episode-card h2 i {
        font-size: 20px;
    }

    .feature-episode-p {

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .meet-p {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }
     #hero {

        background-image: url(./assets/hero-bg.png);
        width: 100%;
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    #circle {
        width: 32%;
        position: absolute;
        z-index: 1;
        left: 33%;
        top: 12%;
    }

    #micro {
        width: 10%;
        z-index: 2;
        top: 25%;
        left: 44%;
        position: absolute;
    }
      .hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 38%;

}





}

@media screen and (max-width: 777px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    ul {
        display: none;
    }
       #hero {

        background-image: url(./assets/hero-bg.png);
        width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    #circle {
        width: 34%;
        position: absolute;
        z-index: 1;
        left: 33%;
        top: 12%;
    }

    #micro {
        width: 10%;
        z-index: 2;
        top: 27%;
        left: 45%;
        position: absolute;
    }
      .hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 38%;

}

    #choose-p {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #box {
        width: 100%;

    }

    #choose h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    #choose {
        background-color: #230E3D;
        padding: 40px 0;
    }

    #episode-p {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding-left: 60px;

    }

    .episode-card h2 {
        font-size: 40px;
    }

    .episode-card h2 i {
        font-size: 20px;
    }

    .feature-episode-p {

        flex-direction: column;
        gap: 40px;
    }

    .feature-episode-card {
        width: 100%;
    }

    #feature-episode {
        padding: 40px 0;
    }

    .feature-episode-heading h1 {
        font-size: 45px;
    }

    .feature-contant h2 {
        font-size: 25px;
    }

    .frame {
        max-width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .meet-p {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }




}

@media screen and (max-width: 576px) {
    .container {
        width: 94%;
        margin: 0 auto;
    }

    ul {
        display: none;
    }

    #nav-icon {
        display: block;
        font-size: 28px;
        color: #FFFFFF;
        margin-right: 5px;
    }

    .nav-btn button {
        display: none;
    }

    .nav-name {
        margin-left: 5px;
    }

    #hero {

        background-image: url(./assets/hero-bg.png);
        width: 100%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    #circle {
        width: 38%;
        position: absolute;
        z-index: 1;
        left: 31%;
        top: 13%;
    }

    #micro {
        width: 10%;
        z-index: 2;
        top: 27%;
        left: 45%;
        position: absolute;
    }


    #new-btn {
        font-size: 15px;
        top: 12%;
        left: 60%;

    }

  .hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 23%;

}

    .hero-contant h1 {
        color: #FFFFFF;
        font-size: 27px;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 12px;

    }

    .hero-contant p {
        color: #FFFFFF;
        margin-bottom: 15px;
        padding: 0 15PX;
        font-size: 13px;
    }

    #choose-p {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #box {
        width: 100%;

    }

    #choose h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    #choose {
        background-color: #230E3D;
        padding: 30px 0;
    }

    .about-heading h1 {
        text-align: center;
        color: #FFFFFF;
        font-size: 32PX;
        font-weight: bold;
        padding: 20PX 0;
    }

    .about-heading p {
        color: #FFFFFF;
        text-align: center;
        line-height: 20px;
    }

    #episode-p {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-left: 40px;

    }

    .episode-card h2 {
        font-size: 40px;
    }

    .episode-card h2 i {
        font-size: 20px;
    }

    .feature-episode-p {

        flex-direction: column;
        gap: 40px;
    }

    .feature-episode-card {
        width: 100%;
    }

    #feature-episode {
        padding: 40px 0;
    }

    .feature-episode-heading h1 {
        font-size: 35px;
    }

    .feature-contant h2 {
        font-size: 23px;
    }

    .frame {
        max-width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .meet-p {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    #footer-contant {
        text-align: center;
        padding-top: 6.5%;

    }

    .footer-all-p {
        display: grid;
        gap: 20px;
        padding-top: 32px;
        padding-left: 60px;
        grid-template-columns: repeat(2, 1fr);
    }

    #foter-copy {
        padding-bottom: 20px;
        padding-top: 15px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 24px
    }

    .footer-box p {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 24px
    }

    .footer-box img {
        width: 18px;
        height: 18px;
    }

    .footer-name h2 {
        font-size: 30px;
        color: #FFFFFF;
        font-weight: 700;
        padding-bottom: 5px;
    }

    #footer-contant {
        text-align: center;
        padding-top: 6.5%;

    }


    footer {
        background-image: url(./assets/footer-bg.png);
        width: 100%;
        height: 230px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }








}

@media screen and (max-width:450px) {
       #hero {

        background-image: url(./assets/hero-bg.png);
        width: 100%;
        height: 420px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

    }

    #circle {
        width: 36%;
        position: absolute;
        z-index: 1;
        left: 33%;
        top: 17%;
    }

    #micro {
        width: 10%;
        z-index: 2;
        top: 25%;
        left: 46%;
        position: absolute;
    }
      .hero-contant {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 25%;

}
#new-btn {
    top: 17%;
    left: 60%;
}


}