* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* header section code start  */
header {
    background-color: #1A0B2E;
}

#nav-bar {
    background-color: #1A0B2E;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-icon {
    display: none;
}

.nav-name h2 {
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}

#wave {
    background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;


}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
    list-style: 120%;
    font-weight: 700;
}

.nav-btn button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
    font-weight: 700;
}

#hero {
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-circle img {
    width: 24.8rem;
    position: absolute;
    top: 10%;
    left: 50.5%;
    z-index: 1;
}

#micro {
    width: 10vh;
    height: 13rem;
    top: 40%;
    left: 45%;
    z-index: 2;
}

#new-btn {
    z-index: 3;
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 700;
    font-size: 18px;
    padding: 6px 25px;
    border-radius: 25px;
    border: none;
    top: 12%;
    left: 55%;

}

.hero-contant {
    text-align: center;
    padding-bottom: 50px;

}

.hero-contant h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;

}

.hero-contant p {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.hero-btn button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(360deg, #ffb347, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
    font-weight: 700;
}

/* choose section code start  */
#choose {
    background-color: #230E3D;
    padding: 100px 0;
}
#choose h2 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    padding: 40px 0;
}
#choose-p {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 30px;
}
.card-1 {
    grid-column: span 1;
    grid-row: span 2;
}
.card-2 {
    grid-column: span 2;
    grid-row: span 1;
}
.card-3 {
    grid-row: span 1;
    grid-column: span 2;
}
#box {
     background-color: #351165;  
     padding: 20px;
     border-radius: 20px;
}
#box  *{
    margin-bottom: 15px;
}
#box h4 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
}
#box p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
}

/* responsive-desing  */
@media screen and (max-width: 1600px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }

    .hero-circle img {
        width: 22.8rem;
        top: 10%;
        left: 38.5%;
    }

    #micro {
        width: 10%;
        height: 30%;
        top: 20%;
        left: 45%;

    }

    #new-btn {
        font-size: 18px;
        top: 12%;
        left: 55%;

    }

    .hero-contant {
        padding-top: 35%;
    }


}

@media screen and (max-width: 1200px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

      .hero-circle img {
        width: 30%;
        top: 10%;
        left: 35%;
    }

    #micro {
        width: 10%;
        top: 24%;
        height: 20%;
        left: 45%;

    }

    #new-btn {
        font-size: 15px;
        top: 12%;
        left: 56%;

    }

    .hero-contant {
        text-align: center;
        padding-bottom: 30px;


    }

    .hero-contant h1 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 700;
        margin-top: 40px;
        margin-bottom: 12px;

    }

    .hero-contant p {
        color: #FFFFFF;
        margin-bottom: 15px;
        padding: 0 15PX;
        font-size: 13px;
    }
}

@media screen and (max-width: 993px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }
    .hero-circle img {
        width: 31%;
        top: 10%;
        left: 35%;
    }



}

@media screen and (max-width: 777px) {
    .container {
        width: 92%;
        margin: 0 auto;
    }

    ul {
        display: none;
    }



}

@media screen and (max-width: 576px) {
    .container {
        width: 97%;
        margin: 0 auto;
    }

    ul {
        display: none;
    }

    #nav-icon {
        display: block;
        font-size: 28px;
        color: #FFFFFF;
        margin-right: 5px;
    }

    .nav-btn button {
        display: none;
    }

    .nav-name {
        margin-left: 5px;
    }

    .hero-circle img {
        width: 50%;
        top: 10%;
        left: 25%;
    }

    #micro {
        width: 10%;
        top: 24%;
        height: 20%;
        left: 45%;

    }

    #new-btn {
        font-size: 15px;
        top: 12%;
        left: 60%;

    }

    .hero-contant {
        text-align: center;
        padding-bottom: 30px;


    }

    .hero-contant h1 {
        color: #FFFFFF;
        font-size: 27px;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 12px;

    }

    .hero-contant p {
        color: #FFFFFF;
        margin-bottom: 15px;
        padding: 0 15PX;
        font-size: 13px;
    }
    #choose-p {
        display: flex;
        flex-direction: column;
        gap: 30px;
}
#box {
    width: 100%;

}


/* #choose-p {
    width: 100%;
} */

   




}

 @media screen and (max-width:370px){
            .hero-circle img {
        width: 54%;
        top: 14%;
        left: 23%;
    }

    #micro {
        width: 10%;
        top: 25%;
        height: 20%;
        left: 45%;

    }

    #new-btn {
        font-size: 14px;
        top: 12%;
        left: 58%;

    }

    .hero-contant {
        text-align: center;
        padding-bottom: 30px;


    }

    .hero-contant h1 {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 700;
        margin-top: 140px;
        margin-bottom: 12px;

    }

    .hero-contant p {
        color: #FFFFFF;
        font-size: 14px;
        margin-bottom: 15px;
        padding: 0 15PX;
    }

 

    }